<!--<div class="modal-header">-->
<!--  <h4 class="modal-title">Edit User</h4>-->
<!--  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--  <form>-->
<!--    <div class="mb-3">-->
<!--      <label for="userName" class="form-label">Name</label>-->
<!--      <input type="text" id="userName" [(ngModel)]="user.name" name="name" class="form-control">-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="userSurname" class="form-label">Surname</label>-->
<!--      <input type="text" id="userSurname" [(ngModel)]="user.surname" name="surname" class="form-control">-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="userEmail" class="form-label">Email</label>-->
<!--      <input type="email" id="userEmail" [(ngModel)]="user.email" name="email" class="form-control">-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="userIdentityNumber" class="form-label">Identity Number</label>-->
<!--      <input type="text" id="userIdentityNumber" [(ngModel)]="user.identityNumber" name="identityNumber" class="form-control">-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="userSalary" class="form-label">Salary</label>-->
<!--      <input type="number" id="userSalary" [(ngModel)]="user.salary" name="salary" class="form-control">-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="userBirthDate" class="form-label">Birth Date</label>-->
<!--      <input type="text" id="userBirthDate" [(ngModel)]="user.birthDate" name="birthDate" class="form-control">-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="userUsername" class="form-label">Username</label>-->
<!--      <input type="text" id="userUsername" [(ngModel)]="user.username" name="username" class="form-control">-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label for="userPassword" class="form-label">Password</label>-->
<!--      <input type="password" id="userPassword" [(ngModel)]="user.password" name="password" class="form-control">-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('cancel')">Cancel</button>-->
<!--  <button type="button" class="btn btn-primary" (click)="save()">Save</button>-->
<!--</div>-->
